/* You can add global styles to this file, and also import other style files */
$font-family-base: HelveticaNeue-Bold,
Helvetica,
sans-serif;

$pink: #FF4DC1;

$primary: $pink;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
